* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  border: 4px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  /* row-gap: 1rem;
  column-gap: 2rem; */
  /* place-items: center; */
  /* justify-content: center;
  align-items: center; */
  /* grid-template-rows: repeat(3, 1fr); */
}
.item {
  /* height: 10rem;
  width: 10rem; */
  border: 2px solid black;
  background-color: beige;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: space-between;
}
.item2 {
  grid-row-start: 2;
  grid-row-end: 5;
}
.item3 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.item8 {
  grid-column-start: 1;
  grid-column-end: 5;
}
